Repository BEmran/safe-robots: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clang-tidy:
  name: clang-tidy
  description: Find warnings/errors in C and C++ code
  entry: clang-tidy
  language: system
  args:
  - --format-style=file
  - --extra-arg=-Wno-unknown-warning-option
  - --config=

cppcheck:
  name: cppcheck
  description: Run `cppcheck` against C/C++ source files
  entry: cppcheck
  language: system

clang-format:
  name: clang-format
  description: Run `clang-format` against C/C++ header and source files
  entry: clang-format
  language: system
  args:
  - -i
  - -style=file
  - --sort-includes
  - --verbose

cmake-format:
  name: cmake-format
  description: Run `cmake-format` against CMakefiles files
  entry: cmake-format
  language: system
  args:
  - -i
  - -c=.cmake-format

cpplint:
  name: cpplint
  description: Run `cpplint` against C/C++ header and source files
  entry: cpplint
  language: python
  args:
  - --filter= +build, -build/header_guard,+legal, +readability, +runtime, +whitespace

spinner
  core/app/CMakeLists.txt
  core/app/pipeline_app.cpp
  core/include/core/utils/spinner.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/spinner.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clock library
  core/include/core/utils/clock.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update clock
  core/include/core/utils/clock.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

use Clock in Spinner
  core/include/core/utils/spinner.hpp
  core/src/core/utils/spinner.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

simple app to test spinner
  core/app/pipeline_app.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

split interface
  core/include/core/utils/clock.hpp
  core/include/core/utils/spinner.hpp
  core/src/core/utils/spinner.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clock utests
  core/test/utils/CMakeLists.txt
  core/test/utils/utest_clock.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

format
  core/test/utils/CMakeLists.txt
  utils/clang-format
  utils/cmake-format
Due: cmake-format

remove the need for TimeInterface
  core/include/core/utils/clock.hpp
  core/src/core/utils/spinner.cpp
  core/test/utils/utest_clock.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

move functions between date_time and clock modules
  core/app/pipeline_app.cpp
  core/include/core/utils/clock.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/clock.cpp
  core/src/core/utils/date_time.cpp
  core/test/utils/utest_clock.cpp
  core/test/utils/utest_date_time.cpp
  hardware/navio/app/imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add comments
  core/include/core/utils/clock.hpp
  core/src/core/utils/clock.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

split clock and timer modules
  core/include/core/utils/clock.hpp
  core/include/core/utils/time.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/clock.cpp
  core/src/core/utils/spinner.cpp
  core/src/core/utils/time.cpp
  core/test/utils/CMakeLists.txt
  core/test/utils/utest_clock.cpp
  core/test/utils/utest_time.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

remove unnecessary functions
  core/include/core/utils/date_time.hpp
  core/test/utils/utest_date_time.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

passing clock as shared ptr instead of unique ptr
  core/include/core/utils/clock.hpp
  core/include/core/utils/spinner.hpp
  core/src/core/utils/clock.cpp
  core/src/core/utils/spinner.cpp
  core/test/utils/utest_clock.cpp
  hardware/navio/app/imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

create timer module
  core/src/core/utils/timer.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

missed header
  core/include/core/utils/timer.hpp
  core/src/core/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

enable and disable doxygen
  CMakeLists.txt
  docs/CMakeLists.txt
Due: cmake-format

change ClockInterface to ClockSource
  core/include/core/utils/clock.hpp
  core/src/core/utils/clock.cpp
  core/test/utils/utest_clock.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add min max statistics
  core/include/core/utils/min_max_statistics.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update spinner
  core/include/core/utils/spinner.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/spinner.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add utils for clock test
  core/test/include/utest/utils_clock.hpp
  core/test/utils/utest_clock.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add unit test fot timer
  core/src/core/utils/timer.cpp
  core/test/utils/CMakeLists.txt
  core/test/utils/utest_timer.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean up
  core/include/core/utils/spinner.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

min max stat
  core/include/core/utils/min_max_statistics.hpp
  core/test/utils/CMakeLists.txt
  core/test/utils/utest_min_max_statistics.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

update spinner with statistics
  core/include/core/utils/spinner.hpp
  core/src/core/utils/spinner.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add lbrobotcontrol as submodule
  .gitmodules
Due: none

create new hardware for bbb
  CMakeLists.txt
  hardware/bbb/CMakeLists.txt
  hardware/bbb/app/CMakeLists.txt
  hardware/bbb/app/app.hpp
  hardware/bbb/app/imu_app.cpp
  hardware/bbb/app/imu_server.cpp
  hardware/bbb/include/bbb/communication_abs.hpp
  hardware/bbb/include/bbb/hardware_utils.hpp
  hardware/bbb/include/bbb/spi.hpp
  hardware/bbb/include/sensors/common/calibrate.hpp
  hardware/bbb/include/sensors/common/utils.hpp
  hardware/bbb/include/sensors/mpu/mpu9250.hpp
  hardware/bbb/include/sensors/mpu/mpu9250_register_map.hpp
  hardware/bbb/src/CMakeLists.txt
  hardware/bbb/src/bbb/hardware_utils.cpp
  hardware/bbb/src/bbb/spi.cpp
  hardware/bbb/src/sensors/common/calibrate.cpp
  hardware/bbb/src/sensors/common/utils.cpp
  hardware/bbb/src/sensors/mpu/mpu9250.cpp
  hardware/bbb/test/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add rcl target
  dependencies/Makefile
Due: none

wip
  dependencies/Makefile
  hardware/bbb/src/CMakeLists.txt
Due: cmake-format

update make file
  dependencies/Makefile
Due: none

disable doxygen
  CMakeLists.txt
Due: cmake-format

create HardwareModel module
  core/app/logger_app.cpp
  core/include/core/hardware/model.hpp
  core/src/core/CMakeLists.txt
  core/src/core/hardware/model.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

update system module
  core/include/core/utils/system.hpp
  core/src/core/utils/system.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean system module
  core/include/core/utils/system.hpp
  core/src/core/utils/system.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update system utest
  core/test/utils/utest_system.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean model module
  core/app/logger_app.cpp
  core/include/core/hardware/model.hpp
  core/src/core/hardware/model.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

modify utils function
  hardware/bbb/include/sensors/common/utils.hpp
  hardware/bbb/src/sensors/common/utils.cpp
  hardware/bbb/src/sensors/mpu/mpu9250.cpp
  hardware/navio/include/sensors/mpu/mpu9250.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

remove unnecessary functions for lsm
  hardware/bbb/app/app.hpp
  hardware/bbb/app/imu_app.cpp
  hardware/bbb/app/imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

i2c for bbb
  hardware/bbb/include/bbb/i2c.hpp
  hardware/bbb/src/CMakeLists.txt
  hardware/bbb/src/bbb/i2c.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

wip mpu for bbb
  hardware/bbb/include/bbb/time.hpp
  hardware/bbb/include/sensors/common/spi.h
  hardware/bbb/include/sensors/mpu/mpu.hpp
  hardware/bbb/src/CMakeLists.txt
  hardware/bbb/src/bbb/time.cpp
  hardware/bbb/src/sensors/common/spi.c
  hardware/bbb/src/sensors/mpu/dmpKey.h
  hardware/bbb/src/sensors/mpu/dmp_firmware.h
  hardware/bbb/src/sensors/mpu/dmpmap.h
  hardware/bbb/src/sensors/mpu/mpu.cpp
  hardware/bbb/src/sensors/mpu/mpu_defs.h
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

Path conditions:
  clang-tidy: any of: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$, but not:  (.git/.*)(.vscode/.*)(.build/.*)
  cppcheck: any of: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$, but not:  (.git/.*)(.vscode/.*)(.build/.*)
  clang-format: any of: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$, but not:  (.git/.*)(.vscode/.*)(.build/.*)
  cmake-format: any of: CMakeLists.txt, but not:  (.git/.*)(.vscode/.*)(.build/.*)
  cpplint: any of: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$, but not:  (.git/.*)(.vscode/.*)(.build/.*)
