Repository BEmran/safe-robots: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Skip these files
exclude: "
  (.git/.*)\
  (.vscode/.*)\
  (.build/.*)\
  "

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files # prevents giant files from being committed.
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-executables-have-shebangs # ensures that (non-binary) executables have a shebang.
      - id: check-json # checks json files for parseable syntax.
      - id: check-shebang-scripts-are-executable # ensures that (non-binary) files with a shebang are executable.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-symlinks # checks for symlinks which do not point to anything.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: destroyed-symlinks # detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: file-contents-sorter # sorts the lines in specified files (defaults to alphabetical). you must provide list of target files as input in your .pre-commit-config.yaml file.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.

  - repo: local
    hooks:
      # keep this before clang-tidy, it generates compile_commands.json for it
      - id: compiledb
        name: compiledb
        entry: compiledb -f make CC=clan -nBC ./build ## don't change: failed to pass the build directory as argument so placed all options here
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false

      - id: clang-tidy
        name: clang-tidy
        description: Find warnings/errors in C and C++ code
        entry: clang-tidy
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            --format-style=file,
            --extra-arg=-Wno-unknown-warning-option,
            --config=,
            # -p=./build,
          ]

      - id: cppcheck
        name: cppcheck
        description: Run `cppcheck` against C/C++ source files
        entry: cppcheck
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$

      - id: clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files
        entry: clang-format
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            -i,
            -style=file,
            --sort-includes,
            --verbose,
          ]

      - id: cmake-format
        name: cmake-format
        description: Run `cmake-format` against CMakefiles files
        entry: cmake-format
        language: system
        files: CMakeLists.txt
        args:
          [
            -i,
            -c=.cmake-format,
          ]

      - id: cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files
        entry: cpplint
        language: python
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            "--filter= +build, -build/header_guard,+legal, +readability, +runtime, +whitespace"
          ]

add scalar test
  core/test/utils/utest_math.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Change SensorSpec to be template
  hardware/navio/include/sensors/common/calibrate.hpp
  hardware/navio/include/sensors/common/utils.hpp
  hardware/navio/include/sensors/mpu/mpu9250.hpp
  hardware/navio/include/sensors/mpu/mpu9250_register_map.hpp
  hardware/navio/src/sensors/common/calibrate.cpp
  hardware/navio/src/sensors/common/utils.cpp
  hardware/navio/src/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change estimate rpy to iso unit
  hardware/navio/src/sensors/common/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update calibrate
  hardware/navio/src/sensors/common/calibrate.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

trying to simplify clang-tidy
  .pre-commit-config.yaml
Due: none

try new way
  .pre-commit-config.yaml
Due: none

small update
  .pre-commit-config.yaml
Due: none

update clang
  .clang-tidy
  .pre-commit-config.yaml
  core/src/core/utils/date_time.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

small typos
  .clang-tidy
  core/include/core/utils/event_level.hpp
  core/test/utils/utest_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

typos
  core/include/core/utils/logger.hpp
  core/src/core/utils/logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update formatter to use strategy pattern
  core/include/core/utils/formatter.hpp
  core/src/core/utils/formatter.cpp
  core/test/utils/utest_formatter.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Update logger with new formatter classes
  core/include/core/utils/logger.hpp
  core/src/core/utils/logger.cpp
  core/test/utils/utest_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Writer Dump func to const to pass class as const
  core/include/core/utils/writer.hpp
  core/include/core/utils/writer_console.hpp
  core/include/core/utils/writer_file.hpp
  core/src/core/utils/writer_console.cpp
  core/src/core/utils/writer_file.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change logger to have a vector of writers
  core/include/core/utils/formatter.hpp
  core/include/core/utils/logger.hpp
  core/src/core/utils/formatter.cpp
  core/src/core/utils/logger.cpp
  core/test/utils/utest_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

cleaning up
  core/test/include/utest/utils.hpp
  core/test/utils/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

remove extra :
  core/src/core/utils/formatter.cpp
  core/test/utils/utest_formatter.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add helper function
  core/test/include/utest/utils.hpp
  core/test/utils/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

extract logging from the node class
  core/include/core/utils/node.hpp
  core/include/core/utils/node_logger.hpp
  core/src/CMakeLists.txt
  core/src/core/utils/logger.cpp
  core/src/core/utils/node.cpp
  core/src/core/utils/node_logger.cpp
  core/test/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

cleaned utests
  core/include/core/utils/event_level.hpp
  core/test/utils/utest_logger.cpp
  core/test/utils/utest_node.cpp
  core/test/utils/utest_node_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

follow changes
  core/app/logger_app.cpp
  core/app/server_app.cpp
  core/src/core/utils/server_socket.cpp
  hardware/navio/app/mpu_app.cpp
  hardware/navio/app/mpu_server.cpp
  hardware/navio/src/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Update node tests
  core/include/core/utils/node.hpp
  core/test/utils/utest_node.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

simplify the SensorSpec map
  hardware/navio/include/sensors/common/utils.hpp
  hardware/navio/include/sensors/mpu/mpu9250_register_map.hpp
  hardware/navio/src/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

create lsm file
  hardware/navio/include/sensors/lsm/lsm9ds1.hpp
  hardware/navio/include/sensors/lsm/lsm9ds1_register_map.hpp
  hardware/navio/src/CMakeLists.txt
  hardware/navio/src/sensors/lsm/lsm9ds1.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean app files
  hardware/navio/app/CMakeLists.txt
  hardware/navio/app/imu_app.cpp
  hardware/navio/app/imu_server.cpp
  hardware/navio/app/mpu_app.cpp
  hardware/navio/app/mpu_server.cpp
  hardware/navio/include/navio/hardware_utils.hpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

fix initializing the writer_formatter
  core/src/core/utils/logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change lsm class name
  hardware/navio/app/imu_app.cpp
  hardware/navio/app/imu_server.cpp
  hardware/navio/include/navio/hardware_utils.hpp
  hardware/navio/include/sensors/lsm/lsm9ds1.hpp
  hardware/navio/src/sensors/lsm/lsm9ds1.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Fix unit
  core/include/core/utils/math.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change name accordingly
  hardware/navio/include/sensors/common/utils.hpp
  hardware/navio/src/sensors/common/utils.cpp
  hardware/navio/src/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change scale values and add align function
  hardware/navio/include/sensors/lsm/lsm9ds1.hpp
  hardware/navio/include/sensors/lsm/lsm9ds1_register_map.hpp
  hardware/navio/src/sensors/lsm/lsm9ds1.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

up date config number s
  hardware/navio/include/sensors/lsm/lsm9ds1_register_map.hpp
  hardware/navio/include/sensors/mpu/mpu9250_register_map.hpp
  hardware/navio/src/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix mag sacle
  hardware/navio/include/sensors/mpu/mpu9250_register_map.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

save data values when set
  core/include/core/sensors/module_sensor.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add subject class
  core/include/core/utils/subject.hpp
  core/src/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add subject utest
  core/test/CMakeLists.txt
  core/test/utils/utest_subject.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add Header and ToSting functions to Data
  core/include/core/utils/data.hpp
  core/include/core/utils/math.hpp
  core/src/core/utils/data.cpp
  core/test/utils/utest_data.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

wip data logger
  core/include/core/utils/data_logger.hpp
  core/src/CMakeLists.txt
  core/test/CMakeLists.txt
  core/test/utils/utest_data_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

comments
  core/include/core/utils/node_logger.hpp
  core/include/core/utils/subject.hpp
  core/src/core/utils/terminal.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

wip data struct
  core/include/core/utils/data_struct.hpp
  core/src/CMakeLists.txt
  core/src/core/utils/data_struct.cpp
  core/test/CMakeLists.txt
  core/test/utils/utest_data_struct.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

cleaning up
  core/include/core/utils/data_struct.hpp
  core/test/utils/utest_data_struct.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

wip
  core/include/core/utils/data_struct copy.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint
