Repository BEmran/safe-robots: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Skip these files
exclude: "
  (.git/.*)\
  (.vscode/.*)\
  (.build/.*)\
  "

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files # prevents giant files from being committed.
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-executables-have-shebangs # ensures that (non-binary) executables have a shebang.
      - id: check-json # checks json files for parseable syntax.
      - id: check-shebang-scripts-are-executable # ensures that (non-binary) files with a shebang are executable.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-symlinks # checks for symlinks which do not point to anything.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: destroyed-symlinks # detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: file-contents-sorter # sorts the lines in specified files (defaults to alphabetical). you must provide list of target files as input in your .pre-commit-config.yaml file.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.

  - repo: local
    hooks:
      # keep this before clang-tidy, it generates compile_commands.json for it
      - id: compiledb
        name: compiledb
        entry: compiledb -f make CC=clan -nBC ./build ## don't change: failed to pass the build directory as argument so placed all options here
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false

      - id: clang-tidy
        name: clang-tidy
        description: Find warnings/errors in C and C++ code
        entry: clang-tidy
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            --format-style=file,
            --extra-arg=-Wno-unknown-warning-option,
            --config=,
            # -p=./build,
          ]

      - id: cppcheck
        name: cppcheck
        description: Run `cppcheck` against C/C++ source files
        entry: cppcheck
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$

      - id: clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files
        entry: clang-format
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            -i,
            -style=file,
            --sort-includes,
            --verbose,
          ]

      - id: cmake-format
        name: cmake-format
        description: Run `cmake-format` against CMakefiles files
        entry: cmake-format
        language: system
        files: CMakeLists.txt
        args:
          [
            -i,
            -c=.cmake-format,
          ]

      - id: cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files
        entry: cpplint
        language: python
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            "--filter= +build, -build/header_guard,+legal, +readability, +runtime, +whitespace"
          ]

simplified
  core/include/core/utils/data_struct.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix implicit conversion
  core/src/core/utils/date_time.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

use accumulate instead of raw loop
  core/include/core/utils/data_logger.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix some lint warning
  hardware/navio/src/sensors/lsm/lsm9ds1.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

create header file for app
  hardware/navio/app/app.hpp
  hardware/navio/app/imu_app.cpp
  hardware/navio/app/imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix lint warning
  hardware/navio/src/sensors/common/calibrate.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

adding yaml-cpp submodule
  .gitmodules
Due: none

fix mutex
  core/include/core/utils/cash.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

split cmake files
  core/src/CMakeLists.txt
  core/src/core/CMakeLists.txt
  core/test/CMakeLists.txt
  core/test/sensors/CMakeLists.txt
  core/test/utils/CMakeLists.txt
Due: cmake-format

clean test maker
  core/test/cmake/AddTestWithLibraries.cmake
Due: none

fix app header
  hardware/navio/app/imu_app.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add yaml example
  core/include/dependencies/yaml.hpp
  core/src/dependencies/CMakeLists.txt
  core/src/dependencies/yaml.cpp
  core/test/dependencies/CMakeLists.txt
  core/test/dependencies/utest_yaml.cpp
  dependencies/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

simple test
  core/src/dependencies/yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix git ignore
  .gitmodules
Due: none

compile dependencies
  CMakeLists.txt
  dependencies/CMakeLists.txt
Due: cmake-format

testing yaml files
  core/include/dependencies/entree.hpp
  core/include/dependencies/yaml.hpp
  core/src/dependencies/entree.cpp
  core/src/dependencies/yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

wip entree
  core/include/dependencies/entree.hpp
  core/src/dependencies/CMakeLists.txt
  core/src/dependencies/entree.cpp
  core/test/dependencies/CMakeLists.txt
  core/test/dependencies/utest_entree.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

yaml wip
  core/include/dependencies/yaml.hpp
  core/src/dependencies/yaml.cpp
  core/test/dependencies/utest_yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

working yaml version non optimized
  core/include/dependencies/entree.hpp
  core/include/dependencies/yaml.hpp
  core/src/dependencies/entree.cpp
  core/src/dependencies/yaml.cpp
  core/test/dependencies/utest_entree.cpp
  core/test/dependencies/utest_yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

remove building dependencies in cmake
  .gitignore
  CMakeLists.txt
  core/src/dependencies/CMakeLists.txt
  dependencies/Makefile
Due: cmake-format

isolate yaml dependencies to source file only
  core/include/dependencies/entree.hpp
  core/include/dependencies/yaml.hpp
  core/src/dependencies/entree.cpp
  core/src/dependencies/yaml.cpp
  core/test/dependencies/utest_yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

wip suppressing cppcheck warning
  cmake/StaticAnalyzers.cmake
  core/docs/CMakeLists.txt
  cppcheck-suppress.txt
Due: cmake-format

simplify the Node structure to Leaf and Struct
  core/include/dependencies/entree.hpp
  core/include/dependencies/yaml.hpp
  core/src/dependencies/entree.cpp
  core/src/dependencies/yaml.cpp
  core/test/dependencies/utest_entree.cpp
  core/test/dependencies/utest_yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

create a map to locate by key
  core/include/dependencies/entree.hpp
  core/src/dependencies/entree.cpp
  core/test/dependencies/utest_entree.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change naming
  core/test/dependencies/utest_simple_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change naming
  core/include/dependencies/entree.hpp
  core/src/dependencies/entree.cpp
  core/src/dependencies/yaml.cpp
  core/test/dependencies/utest_entree.cpp
  core/test/dependencies/utest_yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

simple logger
  core/include/dependencies/simple_logger.hpp
  core/test/dependencies/CMakeLists.txt
  core/test/dependencies/utest_simple_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add logger to yaml parser
  core/src/dependencies/yaml.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

recreate Write class
  core/include/core/utils/logger.hpp
  core/include/core/utils/writer.hpp
  core/include/core/utils/writer_console.hpp
  core/include/core/utils/writer_file.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/logger.cpp
  core/src/core/utils/writer.cpp
  core/src/core/utils/writer_console.cpp
  core/src/core/utils/writer_file.cpp
  core/test/utils/utest_data_logger.cpp
  core/test/utils/utest_logger.cpp
  core/test/utils/utest_writer.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean Formatter class
  core/include/core/utils/formatter.hpp
  core/src/core/utils/formatter.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix compile error
  core/test/utils/utest_formatter.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

generate doxygen for all project
  CMakeLists.txt
  core/CMakeLists.txt
  core/docs/CMakeLists.txt
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/main_page.md
Due: cmake-format

fix comments
  hardware/navio/CMakeLists.txt
  hardware/navio/src/CMakeLists.txt
Due: cmake-format

formatting
  CMakeLists.txt
  cmake/StaticAnalyzers.cmake
  core/include/core/utils/cash.hpp
  core/include/core/utils/data_struct copy.hpp
  core/src/CMakeLists.txt
  core/src/dependencies/CMakeLists.txt
  core/test/CMakeLists.txt
  core/test/dependencies/CMakeLists.txt
  core/test/utils/CMakeLists.txt
  hardware/navio/src/CMakeLists.txt
  utils/clang-format
  utils/cmake-format
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

change event_level file to labeled_modifier
  core/include/core/utils/formatter.hpp
  core/include/core/utils/labeld_modifier.hpp
  core/include/core/utils/logger.hpp
  core/include/core/utils/node_logger.hpp
  core/src/core/CMakeLists.txt
  core/src/core/utils/labeld_modifier.cpp
  core/src/core/utils/logger.cpp
  core/test/include/utest/utils.hpp
  core/test/utils/CMakeLists.txt
  core/test/utils/utest_labeld_modifier.cpp
  core/test/utils/utest_node_logger.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

remove "[]" around label name for generality
  core/include/core/utils/labeld_modifier.hpp
  core/src/core/utils/labeld_modifier.cpp
  core/test/utils/utest_labeld_modifier.cpp
  core/test/utils/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

simplify func
  core/src/core/utils/terminal.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add ToSting func
  core/include/core/utils/labeld_modifier.hpp
  core/src/core/utils/formatter.cpp
  core/src/core/utils/labeld_modifier.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update test
  core/test/include/utest/utils.hpp
  core/test/utils/utest_formatter.cpp
  core/test/utils/utest_labeld_modifier.cpp
  core/test/utils/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint
