Repository BEmran/safe-robots: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Skip these files
exclude: "
  (.git/.*)\
  (.vscode/.*)\
  (.build/.*)\
  "

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files # prevents giant files from being committed.
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-executables-have-shebangs # ensures that (non-binary) executables have a shebang.
      - id: check-json # checks json files for parseable syntax.
      - id: check-shebang-scripts-are-executable # ensures that (non-binary) files with a shebang are executable.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-symlinks # checks for symlinks which do not point to anything.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: destroyed-symlinks # detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: file-contents-sorter # sorts the lines in specified files (defaults to alphabetical). you must provide list of target files as input in your .pre-commit-config.yaml file.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.

  - repo: local
    hooks:
      # keep this before clang-tidy, it generates compile_commands.json for it
      - id: compiledb
        name: compiledb
        entry: compiledb -f make CC=clan -nBC ./build ## don't change: failed to pass the build directory as argument so placed all options here
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false

      - id: clang-tidy
        name: clang-tidy
        description: Find warnings/errors in C and C++ code
        entry: clang-tidy
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            --format-style=file,
            --extra-arg=-Wno-unknown-warning-option,
            --config=,
            # -p=./build,
          ]

      - id: cppcheck
        name: cppcheck
        description: Run `cppcheck` against C/C++ source files
        entry: cppcheck
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$

      - id: clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files
        entry: clang-format
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            -i,
            -style=file,
            --sort-includes,
            --verbose,
          ]

      - id: cmake-format
        name: cmake-format
        description: Run `cmake-format` against CMakefiles files
        entry: cmake-format
        language: system
        files: CMakeLists.txt
        args:
          [
            -i,
            -c=.cmake-format,
          ]

      - id: cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files
        entry: cpplint
        language: python
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            "--filter= +build, -build/header_guard,+legal, +readability, +runtime, +whitespace"
          ]

test mpu app
  hardware/bbb/app/CMakeLists.txt
  hardware/bbb/app/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

fix errors
  hardware/bbb/app/rc_mpu.cpp
  hardware/bbb/src/sensors/mpu/mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

tested rc mpu with config
  CMakeLists.txt
  hardware/bbb/app/rc_mpu.cpp
  hardware/bbb/include/bbb/hardware_utils.hpp
  hardware/bbb/include/bbb/i2c.hpp
  hardware/bbb/include/sensors/common/utils.hpp
  hardware/bbb/include/sensors/mpu/mpu.hpp
  hardware/bbb/src/bbb/i2c.cpp
  hardware/bbb/src/sensors/common/utils.cpp
  hardware/bbb/src/sensors/mpu/mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add calibration functions
  hardware/bbb/include/sensors/mpu/mpu.hpp
  hardware/bbb/src/sensors/mpu/mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add calibration app
  hardware/bbb/app/CMakeLists.txt
  hardware/bbb/app/rc_calibrate_accel.cpp
  hardware/bbb/app/rc_calibrate_gyro.cpp
  hardware/bbb/app/rc_calibrate_mag.cpp
  hardware/bbb/app/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

compiled version
  hardware/bbb/app/CMakeLists.txt
  hardware/bbb/include/sensors/rc/i2c.hpp
  hardware/bbb/include/sensors/rc/mpu.hpp
  hardware/bbb/src/CMakeLists.txt
  hardware/bbb/src/sensors/rc/common.hpp
  hardware/bbb/src/sensors/rc/i2c.cpp
  hardware/bbb/src/sensors/rc/mpu.cpp
  hardware/bbb/src/sensors/rc/mpu_defs.hpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add write to disk and read from disk functions
  hardware/bbb/include/sensors/rc/mpu.hpp
  hardware/bbb/src/sensors/rc/mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update logger macros and SysLog to use NodeLogger instead
  core/include/core/utils/logger_macros.hpp
  core/include/core/utils/logger_node.hpp
  core/src/core/utils/logger_node.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

working mpu version
  hardware/bbb/app/CMakeLists.txt
  hardware/bbb/app/mpu/common.h
  hardware/bbb/app/mpu/i2c.cpp
  hardware/bbb/app/mpu/i2c.hpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/mpu_defs.h
  hardware/bbb/app/mpu/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean mpu
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

allow mpu to read from compass first step
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/mpu_defs.h
Due: clang-tidy, cppcheck, clang-format, cpplint

optimize read and write Words
  hardware/bbb/app/mpu/common.h
  hardware/bbb/app/mpu/i2c.cpp
  hardware/bbb/app/mpu/i2c.hpp
  hardware/bbb/app/mpu/logger.cpp
  hardware/bbb/app/mpu/logger.hpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/utils.cpp
  hardware/bbb/app/mpu/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update cmake
  hardware/bbb/app/CMakeLists.txt
Due: cmake-format

simplify mpu code by splitting magnetometer
  hardware/bbb/app/mpu/common.hpp
  hardware/bbb/app/mpu/i2c.cpp
  hardware/bbb/app/mpu/i2c.hpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/mpu_defs.h
  hardware/bbb/app/mpu/rc_mpu.cpp
  hardware/bbb/app/mpu/utils.cpp
  hardware/bbb/app/mpu/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add Mag class
  hardware/bbb/app/mpu/i2c.cpp
  hardware/bbb/app/mpu/mag.cpp
  hardware/bbb/app/mpu/mag.hpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/rc_mpu.cpp
  hardware/bbb/app/mpu/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

two way of communicate with mag
  hardware/bbb/app/mpu/mag_slave.cpp
  hardware/bbb/app/mpu/mag_slave.hpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/mpu_defs.h
  hardware/bbb/app/mpu/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

WIP separate mag communication
  hardware/bbb/app/mpu/mag.cpp
  hardware/bbb/app/mpu/mag.hpp
  hardware/bbb/app/mpu/mag_connection.hpp
  hardware/bbb/app/mpu/mag_def.hpp
  hardware/bbb/app/mpu/mag_direct.cpp
  hardware/bbb/app/mpu/mag_direct.hpp
  hardware/bbb/app/mpu/mag_slave.cpp
  hardware/bbb/app/mpu/mpu.cpp
  hardware/bbb/app/mpu/mpu.hpp
  hardware/bbb/app/mpu/rc_mpu.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change hardware struct to find common hardware files
  hardware/CMakeLists.txt
  hardware/app/CMakeLists.txt
  hardware/app/app.hpp
  hardware/app/imu_app.cpp
  hardware/app/imu_server.cpp
  hardware/include/common/comm/communication_abs.hpp
  hardware/include/common/comm/i2c.hpp
  hardware/include/common/comm/spi.hpp
  hardware/include/common/literals.hpp
  hardware/include/common/sensors/calibrate.hpp
  hardware/include/common/sensors/lsm/lsm9ds1.hpp
  hardware/include/common/sensors/lsm/lsm9ds1_register_map.hpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/include/common/sensors/mpu/mpu9250_register_map.hpp
  hardware/include/common/sensors/utils.hpp
  hardware/include/common/utils.hpp
  hardware/include/navio/utils.hpp
  hardware/src/common/CMakeLists.txt
  hardware/src/common/comm/i2c.cpp
  hardware/src/common/comm/spi.cpp
  hardware/src/common/sensors/calibrate.cpp
  hardware/src/common/sensors/lsm/lsm9ds1.cpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
  hardware/src/common/sensors/utils.cpp
  hardware/src/common/utils.cpp
  hardware/src/navio/utils.cpp
  hardware/test/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

some clean ups
  .gitignore
  CMakeLists.txt
  cmake/StaticAnalyzers.cmake
Due: cmake-format

add bbb and navio mpu9250 code
  CMakeLists.txt
  core/app/CMakeLists.txt
  core/src/core/CMakeLists.txt
  hardware/CMakeLists.txt
  hardware/app/CMakeLists.txt
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/app/common/CMakeLists.txt
  hardware/app/common/app.hpp
  hardware/app/common/imu_app.cpp
  hardware/app/common/imu_server.cpp
  hardware/include/bbb/sensors/mpu/bbb_mpu9250.hpp
  hardware/include/bbb/utils.hpp
  hardware/include/common/comm/i2c.hpp
  hardware/include/common/comm/spi.hpp
  hardware/include/common/sensors/mpu/def.hpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/include/common/sensors/mpu/mpu9250_register_map.hpp
  hardware/include/common/sensors/utils.hpp
  hardware/include/navio/sensors/mpu/navio_mpu9250.hpp
  hardware/include/navio/utils.hpp
  hardware/src/bbb/CMakeLists.txt
  hardware/src/bbb/sensors/mpu/bbb_mpu9250.cpp
  hardware/src/bbb/utils.cpp
  hardware/src/common/comm/i2c.cpp
  hardware/src/common/comm/spi.cpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
  hardware/src/navio/CMakeLists.txt
  hardware/src/navio/sensors/mpu/navio_mpu9250.cpp
  hardware/src/navio/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean up
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/include/common/sensors/mpu/def.hpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/include/common/sensors/mpu/mpu9250_register_map.hpp
  hardware/include/common/sensors/utils.hpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
  hardware/src/common/sensors/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean config
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/include/common/sensors/mpu/def.hpp
  hardware/include/common/sensors/utils.hpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

server using bbb
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/bbb_imu_server.cpp
  matlab/client_tcp.m
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean up apps
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/app.hpp
  hardware/app/bbb/app_utils.hpp
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/app/bbb/bbb_imu_server.cpp
  hardware/include/bbb/sensors/mpu/bbb_mpu9250.hpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean calibrate functions
  hardware/src/common/sensors/calibrate.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

MicroDelay function
  hardware/include/common/utils.hpp
  hardware/src/common/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

make Rest function public
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean app files
  hardware/app/bbb/app.hpp
  hardware/app/bbb/app_utils.hpp
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/app/bbb/bbb_imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

temp debug msg
  hardware/src/common/comm/i2c.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

give timeout for server's accept call
  core/include/core/utils/server_socket.hpp
  core/include/core/utils/socket.hpp
  core/src/core/utils/server_socket.cpp
  core/src/core/utils/socket.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add calibration function for each sensor
  hardware/include/common/sensors/calibrate.hpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/src/bbb/CMakeLists.txt
  hardware/src/common/sensors/calibrate.cpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

create app library
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/app.cpp
  hardware/app/bbb/app.hpp
  hardware/app/bbb/app_utils.cpp
  hardware/app/bbb/app_utils.hpp
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/app/bbb/bbb_imu_server.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

fix error
  core/include/core/sensors/module_sensor.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

some clean up
  hardware/app/bbb/app.cpp
  hardware/app/bbb/bbb_imu_server.cpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/src/common/sensors/calibrate.cpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean up app code
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/app.cpp
  hardware/app/bbb/app_utils.cpp
  hardware/app/bbb/app_utils.hpp
  hardware/app/bbb/bbb_imu_app.cpp
  hardware/app/bbb/bbb_imu_server.cpp
  hardware/include/common/sensors/mpu/mpu9250.hpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

adding some ahrs algorithm
  core/include/core/algorithm/complementary_filter.hpp
  core/include/core/algorithm/madgwick.hpp
  core/src/core/algorithm/complementary_filter.cpp
  core/src/core/algorithm/madgwick.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add record app
  core/include/core/utils/data.hpp
  hardware/app/bbb/CMakeLists.txt
  hardware/app/bbb/app.cpp
  hardware/app/bbb/app.hpp
  hardware/app/bbb/app_utils.cpp
  hardware/app/bbb/app_utils.hpp
  hardware/app/bbb/bbb_imu_recorder.cpp
  hardware/src/common/sensors/mpu/mpu9250.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

copyright
  core/include/core/algorithm/complementary_filter.hpp
  core/include/core/algorithm/madgwick.hpp
  core/include/core/sensors/module_sensor.hpp
  core/src/core/algorithm/complementary_filter.cpp
  core/src/core/algorithm/madgwick.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add rotation library
  core/include/core/utils/math.hpp
  core/src/core/utils/math.cpp
  core/test/CMakeLists.txt
  core/test/cmake/AddTestWithLibraries.cmake
  core/test/math/CMakeLists.txt
  core/test/math/my_math/dcm.hpp
  core/test/math/my_math/quaternion.hpp
  core/test/math/utest_dcm.cpp
  core/test/math/utest_quaternion.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint
