Repository BEmran/safe-robots: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# Skip these files
exclude: "
  (.git/.*)\
  (.vscode/.*)\
  (.build/.*)\
  "

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files # prevents giant files from being committed.
      - id: check-case-conflict # checks for files that would conflict in case-insensitive filesystems.
      - id: check-executables-have-shebangs # ensures that (non-binary) executables have a shebang.
      - id: check-json # checks json files for parseable syntax.
      - id: check-shebang-scripts-are-executable # ensures that (non-binary) files with a shebang are executable.
      - id: check-merge-conflict # checks for files that contain merge conflict strings.
      - id: check-symlinks # checks for symlinks which do not point to anything.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: destroyed-symlinks # detects symlinks which are changed to regular files with a content of a path which that symlink was pointing to.
      - id: detect-private-key # detects the presence of private keys.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: file-contents-sorter # sorts the lines in specified files (defaults to alphabetical). you must provide list of target files as input in your .pre-commit-config.yaml file.
      - id: fix-byte-order-marker # removes utf-8 byte order marker.
      - id: mixed-line-ending # replaces or checks mixed line ending.
      - id: requirements-txt-fixer # sorts entries in requirements.txt.
      - id: trailing-whitespace # trims trailing whitespace.

  - repo: local
    hooks:
      # keep this before clang-tidy, it generates compile_commands.json for it
      - id: compiledb
        name: compiledb
        entry: compiledb -f make CC=clan -nBC ./build ## don't change: failed to pass the build directory as argument so placed all options here
        language: system
        always_run: true
        require_serial: true
        pass_filenames: false

      - id: clang-tidy
        name: clang-tidy
        description: Find warnings/errors in C and C++ code
        entry: clang-tidy
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            --format-style=file,
            --extra-arg=-Wno-unknown-warning-option,
            --config=,
            # -p=./build,
          ]

      - id: cppcheck
        name: cppcheck
        description: Run `cppcheck` against C/C++ source files
        entry: cppcheck
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$

      - id: clang-format
        name: clang-format
        description: Run `clang-format` against C/C++ header and source files
        entry: clang-format
        language: system
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            -i,
            -style=file,
            --sort-includes,
            --verbose,
          ]

      - id: cmake-format
        name: cmake-format
        description: Run `cmake-format` against CMakefiles files
        entry: cmake-format
        language: system
        files: CMakeLists.txt
        args:
          [
            -i,
            -c=.cmake-format,
          ]

      - id: cpplint
        name: cpplint
        description: Run `cpplint` against C/C++ header and source files
        entry: cpplint
        language: python
        files: \.(h|hxx|hpp|c|cpp|c\+\+|cxx)$
        args:
          [
            "--filter= +build, -build/header_guard,+legal, +readability, +runtime, +whitespace"
          ]

update rotation math
  core/test/math/my_math/dcm.cpp
  core/test/math/my_math/quaternion.hpp
  core/test/math/utest_quaternion.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

rotation tested
  core/test/math/CMakeLists.txt
  core/test/math/main.cpp
  core/test/math/my_math/CMakeLists.txt
  core/test/math/my_math/dcm.cpp
  core/test/math/my_math/dcm.hpp
  core/test/math/my_math/dcm2.hpp
  core/test/math/my_math/matx.hpp
  core/test/math/my_math/quaternion.cpp
  core/test/math/my_math/quaternion.hpp
  core/test/math/my_math/transformation.cpp
  core/test/math/my_math/transformation.hpp
  core/test/math/my_math/vector.cpp
  core/test/math/my_math/vector.hpp
  core/test/math/utest_dcm.cpp
  core/test/math/utest_quaternion old.cpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
  core/test/math/utest_utils.cpp
  core/test/math/utest_utils.hpp
  core/test/math/utest_vector.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean up
  core/test/math/my_math/dcm.cpp
  core/test/math/my_math/dcm.hpp
  core/test/math/my_math/quaternion.cpp
  core/test/math/my_math/transformation.cpp
  core/test/math/my_math/transformation.hpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
  core/test/math/utest_utils.cpp
  core/test/math/utest_utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean
  core/test/math/my_math/quaternion.cpp
  core/test/math/my_math/quaternion.hpp
  core/test/math/utest_quaternion.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

move my_math to core/math
  core/include/core/math/dcm.hpp
  core/include/core/math/dcm2.hpp
  core/include/core/math/math.hpp
  core/include/core/math/matx.hpp
  core/include/core/math/quaternion.hpp
  core/include/core/math/transformation.hpp
  core/include/core/math/vector.hpp
  core/include/core/utils/data.hpp
  core/include/core/utils/data_struct copy.hpp
  core/include/core/utils/data_struct.hpp
  core/src/core/CMakeLists.txt
  core/src/core/math/dcm.cpp
  core/src/core/math/math.cpp
  core/src/core/math/quaternion.cpp
  core/src/core/math/transformation.cpp
  core/src/core/math/vector.cpp
  core/test/math/CMakeLists.txt
  core/test/math/my_math/CMakeLists.txt
  core/test/math/utest_dcm.cpp
  core/test/math/utest_math.cpp
  core/test/math/utest_quaternion old.cpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
  core/test/math/utest_utils.cpp
  core/test/math/utest_utils.hpp
  core/test/math/utest_vector.cpp
  core/test/utils/CMakeLists.txt
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

change math namespace
  core/include/core/math/dcm.hpp
  core/include/core/math/math.hpp
  core/include/core/math/matx.hpp
  core/include/core/math/quaternion.hpp
  core/include/core/math/transformation.hpp
  core/include/core/utils/data.hpp
  core/include/core/utils/data_struct.hpp
  core/src/core/math/math.cpp
  core/src/core/math/quaternion.cpp
  core/test/include/utest/utils_data.hpp
  core/test/math/utest_dcm.cpp
  core/test/math/utest_math.cpp
  core/test/math/utest_quaternion old.cpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
  core/test/math/utest_utils.cpp
  core/test/math/utest_utils.hpp
  core/test/math/utest_vector.cpp
  core/test/utils/utest_data.cpp
  core/test/utils/utest_data_struct.cpp
  hardware/app/bbb/app.cpp
  hardware/app/bbb/app_utils.cpp
  hardware/app/bbb/app_utils.hpp
  hardware/include/common/sensors/calibrate.hpp
  hardware/include/common/sensors/utils.hpp
  hardware/src/common/sensors/calibrate.cpp
  hardware/src/common/sensors/utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update quaternion Angle function and utests
  core/include/core/math/dcm.hpp
  core/include/core/math/quaternion.hpp
  core/include/core/math/transformation.hpp
  core/include/core/math/vector.hpp
  core/src/core/math/dcm.cpp
  core/src/core/math/quaternion.cpp
  core/src/core/math/transformation.cpp
  core/test/math/utest_dcm.cpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
  core/test/math/utest_utils.cpp
  core/test/math/utest_utils.hpp
  core/test/math/utest_vector.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

some initial work on linear interpolation
  core/include/core/math/math.hpp
  core/include/core/math/transformation.hpp
  core/src/core/math/math.cpp
  core/src/core/math/quaternion.cpp
  core/src/core/math/transformation.cpp
  core/test/math/utest_quaternion.cpp
  core/test/math/utest_transformation.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

update transformation unit test
  core/include/core/math/transformation.hpp
  core/src/core/math/transformation.cpp
  core/test/math/utest_transformation.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean utest quaternion
  core/include/core/math/math.hpp
  core/test/math/utest_quaternion.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

encapsulate my version of Vector in another namespace
  core/include/core/math/vector.hpp
  core/test/math/utest_vector.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

change quaternion angle function to use atan
  core/src/core/math/quaternion.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add Complementary Filter
  core/include/core/math/algorithm/complementary_filter.hpp
  core/include/core/math/algorithm/madgwick copy.hpp
  core/include/core/math/algorithm/madgwick.hpp
  core/src/core/CMakeLists.txt
  core/src/core/algorithm/complementary_filter.cpp
  core/src/core/math/algorithm/complementary_filter.cpp
  core/src/core/math/algorithm/madgwick copy.cpp
  core/src/core/math/algorithm/madgwick.cpp
  core/test/math/CMakeLists.txt
  core/test/math/algorithm/CMakeLists.txt
  core/test/math/algorithm/utest_complementary_filter.cpp
  core/test/math/utest_utils.hpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

update gitignore
  .gitignore
Due: none

fix pthread error
  core/src/core/CMakeLists.txt
Due: cmake-format

update Makefiles
  CMakeLists.txt
  Makefile
  dependencies/Makefile
Due: cmake-format

add google test as submodule
  .gitmodules
Due: none

update googletest submodule
  .gitmodules
Due: none

update again
  .gitmodules
Due: none

remove all googletest module
  .gitmodules
Due: none

re add googletest
  .gitmodules
Due: none

foramt CmakeList
  CMakeLists.txt
  core/app/CMakeLists.txt
Due: cmake-format

format
  core/CMakeLists.txt
  core/include/core/math/algorithm/madgwick copy.hpp
  core/include/core/math/algorithm/madgwick.hpp
  core/include/core/math/dcm.hpp
  core/include/core/math/math.hpp
  hardware/app/bbb/app_utils.hpp
  hardware/src/common/CMakeLists.txt
  hardware/src/common/sensors/mpu/mpu9250.cpp
  hardware/src/navio/CMakeLists.txt
  utils/clang-format
  utils/cmake-format
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

add build for googletest and ctest
  Makefile
  dependencies/Makefile
Due: none

chanfe f to F for float numbers
  core/include/core/math/algorithm/complementary_filter.hpp
  core/include/core/math/dcm2.hpp
  core/src/core/math/algorithm/complementary_filter.cpp
  core/src/core/math/algorithm/madgwick.cpp
  core/src/core/math/dcm.cpp
  core/src/core/math/quaternion.cpp
  core/src/core/math/transformation.cpp
  core/test/core/math/algorithm/utest_complementary_filter.cpp
  core/test/core/math/utest_quaternion.cpp
  core/test/core/math/utest_transformation.cpp
  core/test/core/utils/utest_data_struct.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

format
  core/include/core/math/algorithm/complementary_filter.hpp
  core/include/core/math/dcm.hpp
  core/include/core/math/dcm2.hpp
  core/include/core/math/math.hpp
  core/include/core/math/quaternion.hpp
  core/include/core/math/transformation.hpp
  core/include/core/utils/logger.hpp
  core/src/core/math/algorithm/complementary_filter.cpp
  core/src/core/math/algorithm/madgwick.cpp
  core/src/core/math/dcm.cpp
  core/src/core/math/math.cpp
  core/src/core/math/quaternion.cpp
  core/src/core/math/transformation.cpp
  core/src/core/utils/logger.cpp
  core/test/core/math/algorithm/utest_complementary_filter.cpp
  core/test/core/math/math_utils.cpp
  core/test/core/math/math_utils.hpp
  core/test/core/math/utest_transformation.cpp
  hardware/app/bbb/app_utils.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

tmp
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/mat2x2.hpp
  core/include/core/simplemath/mat3x3.hpp
  core/include/core/simplemath/simplemath.hpp
  core/include/core/simplemath/stream.hpp
  core/include/core/simplemath/utility.hpp
  core/include/core/simplemath/vector.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fix to buildfix to build
  core/src/core/utils/socket.cpp
  core/src/dependencies/CMakeLists.txt
  core/test/core/math/utest_quaternion.cpp
  core/test/core/math/utest_transformation.cpp
  core/test/core/utils/utest_data.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

Simple math v1
  CMakeLists.txt
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/include/core/simplemath/simplemath.hpp
  core/include/core/simplemath/vector2.hpp
  core/include/core/simplemath/vector3.hpp
  core/src/core/CMakeLists.txt
  core/src/core/simplemath/simplemath.cpp
  core/test/core/CMakeLists.txt
  core/test/core/simplemath/CMakeLists.txt
  core/test/core/simplemath/utest_basic.cpp
  core/test/core/simplemath/utest_matrix2x2.cpp
  core/test/core/simplemath/utest_matrix3x3.cpp
  core/test/core/simplemath/utest_vector2.cpp
  core/test/core/simplemath/utest_vector3.cpp
  core/test/core/simplemath/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

clean up simple math
  core/app/CMakeLists.txt
  core/app/compare_math_app.cpp
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/test/core/simplemath/utest_basic.cpp
  core/test/core/simplemath/utest_matrix2x2.cpp
  core/test/core/simplemath/utest_matrix3x3.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

fixes
  core/include/core/simplemath/matrix3x3.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

using "at" to index
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/test/core/simplemath/utest_basic.cpp
  core/test/core/simplemath/utest_vector2.cpp
  core/test/core/simplemath/utest_vector3.cpp
Due: clang-tidy, cppcheck, clang-format, cpplint

fixes
  core/test/core/simplemath/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

clean simple math
  core/app/compare_math_app.cpp
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/include/core/simplemath/simplemath.hpp
  core/include/core/simplemath/stream.hpp
  core/include/core/simplemath/vector2.hpp
  core/include/core/simplemath/vector3.hpp
  core/test/core/simplemath/utest_matrix2x2.cpp
  core/test/core/simplemath/utils.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

Square matrix template as common matrix
  core/app/compare_math_app.cpp
  core/include/core/simplemath/mat2x2.hpp
  core/include/core/simplemath/mat3x3.hpp
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/include/core/simplemath/vector.hpp
  core/include/core/simplemath2/basic2.hpp
  core/include/core/simplemath2/matrix.hpp
  core/include/core/simplemath2/simplemath2.hpp
  core/include/core/simplemath2/stream2.hpp
  core/src/core/CMakeLists.txt
  core/src/core/simplemath2/simplemath2.cpp
Due: clang-tidy, cppcheck, clang-format, cmake-format, cpplint

adding general vector size
  core/app/compare_math_app.cpp
  core/include/core/simplemath/vector2.hpp
  core/include/core/simplemath/vector3.hpp
  core/include/core/simplemath2/basic2.hpp
  core/include/core/simplemath2/matrix.hpp
  core/include/core/simplemath2/simplemath2.hpp
  core/include/core/simplemath2/utility2.hpp
  core/include/core/simplemath2/vector.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

format
  core/include/core/simplemath/matrix2x2.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/include/core/simplemath2/matrix.hpp
  core/include/core/simplemath2/vector.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint

add quaternion support
  core/app/compare_math_app.cpp
  core/include/core/simplemath/basic.hpp
  core/include/core/simplemath/matrix3x3.hpp
  core/include/core/simplemath/quaternion.hpp
  core/include/core/simplemath/simplemath.hpp
  core/include/core/simplemath/stream.hpp
  core/include/core/simplemath/vector2.hpp
  core/include/core/simplemath/vector3.hpp
Due: clang-tidy, cppcheck, clang-format, cpplint
